/* Auto linked from Gondor */
@import "base";
@import "tachyons/tachyons";

/* Our own */
@import "vendors/prism-custom";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:400,700');

body {
  background: white;
}

/* Anduin Design Font */

.ad-ff-sans {
  font-family: 'Roboto Slab', sans-serif
}

.ad-ff-mono {
  font-family: 'Roboto Mono', monospace
}

/* Anduin Design Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.ad-scroll-hidden::-webkit-scrollbar,
.ad-scroll-hidden::-webkit-scrollbar-thumb {
  background: transparent;
  transition: all 0.2s;
}

::-webkit-scrollbar,
.ad-scroll-hidden:hover::-webkit-scrollbar {
  background: var(--color-gray-2);
}

::-webkit-scrollbar-thumb,
.ad-scroll-hidden:hover::-webkit-scrollbar-thumb {
  background: var(--color-gray-4);
}

