/* Auto linked from Gondor */
@import "base";
@import "tachyons/tachyons";

/* Our own */
@import "vendors/prism-custom";

body {
  min-width: auto;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: var(--color-gray-2);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-4);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-gray-5);
}