/* Auto linked from Gondor */
@import "base";
@import "tachyons/tachyons";

/* Our own */
@import "vendors/prism-custom";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:400,700');

body {
  background: white;
}

.ad-ff-sans {
  font-family: 'Roboto Slab', sans-serif
}

.ad-ff-mono {
  font-family: 'Roboto Mono', monospace
}
