# NOTE: Don't put "docs" here, we need it for
# ghpages publishing

# Scala & SBT
target

# Local config
sgz_src.txt

# Linked content
.scalafmt.conf
core/src/main/scala/anduin/style
core/src/main/scala/anduin/component
core/src/main/scala/anduin/scalajs
core/src/main/resources/stylesheets/tachyons
core/src/main/resources/stylesheets/_base.scss

# Generated content
core/src/main/resources/stylesheets/core-fastopt.css
core/src/main/resources/stylesheets/core-fastopt.css.map

# IDE
.idea
*.iml
*.swp

# NPM
node_modules
*.log
.sass-cache/
